body{
  background-image: url(https://s3-ap-southeast-2.amazonaws.com/elena.kosobrodova.codepen/random-pictures/aga-putra-125108-unsplash.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-color: #371c15;
}

.orange-text{
  font-family: Lucida Calligraphy;
  color: #ff9933;
  font-weight: 700;
  padding: 20px 20px 20px 20px;
}

input[type=text] {
  padding: 6px;
  width: 73%;
  margin-top: 8px;
  font-size: 20px;
  border: none;
  border-radius: 3px;
}

.btn-search{
   background: #ffce99;
   font-size: 20px;
   height: 40px;
   width: 40px;
   border: none;
   border-radius: 3px;
   cursor: pointer;
}

.foot-text{
    color: #ffce99;
    font-size: 16px;
  }

.button {
   height: 40px;
   width: 100%;
   border: none;
   border-radius: 3px;
   color: brown;
   font-weight: 700;
   background-color: #ffce99;
   font-size: 20px;
   padding: 6px 18px 6px 18px;
   margin: 40px 0px 0px 0px;   
  cursor: pointer;
}

.box{
  border-radius: 7px;
  position: relative;
  margin: 8% auto 8% auto;
  width: 96%;
  height: auto;
  padding: 30px 30px;
  display: table;
  opacity: 0.7;
  background-color: #ffce99;
}

.title{
  font-family: Lucida Calligraphy;
  font-size: 20px;
  font-weight: 800;
}